@import "tailwindcss";
@plugin "../vendor/heroicons.js";
@plugin "../vendor/daisyui.js";
@plugin "../vendor/daisyui-theme.js";
@import "../../deps/timeless_canvas/assets/css/timeless_canvas.css";

/* Fix DaisyUI select vertical alignment */
.select {
  display: flex;
  align-items: center;
}

/* Phoenix LiveView flash messages */
.phx-connected { }
.phx-loading { cursor: wait; }
.phx-error { opacity: 0.6; }
